# Ignore build files
/build/
out/
*.o
*.obj
*.so
*.dll
*.exe
*.log
*.tmp
*.bak
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/

# PyInstaller
*.spec
scripts/build/
scripts/dist/