/ {
    aliases {
        accel0 = &lis2dh12;
        buzzer0 = &buzzer;
        led0 = &red_led;
    };

    chosen {
        zephyr,console = &cdc_acm_uart0;
        /* Optional: also route the shell to USB if desired */
        zephyr,shell-uart = &cdc_acm_uart0;
    };

    pwm_buzzer {
        compatible = "pwm-leds";
        status = "okay";

        buzzer: buzzer {
            pwms = <&pwm2 1 1000000 PWM_POLARITY_NORMAL>;  // PWM2 CH1, 1ms period
            label = "Buzzer";
        };
    };

    leds {
        red_led: led_1 {/*This led doesnt work*/
            gpios = <&gpiob 4 GPIO_ACTIVE_LOW>;
            label = "User LED";
        };
    };
    
};


&i2c3 { 
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    pinctrl-0 = <&i2c3_scl_pc0 &i2c3_sda_pc1>;  // PC0 and PC1
    pinctrl-names = "default";

    lis2dh12: lis2dh12@18 {
        compatible = "st,lis2dh12", "st,lis2dh";
        reg = <0x18>;
        status = "okay";
        /*irq-gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;*/
    };
};

/* Enable the USB controller on the STM32L412 */
&usb {
    status = "okay";
    pinctrl-0 = < &usb_dm_pa11 &usb_dp_pa12 >;
    pinctrl-names = "default";

    /* Declare a USB CDC ACM node for logs/console */
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
        /* Some boards require "status = okay;" but typically it's implied */
    };
};

/* Enable the HSI48 clock that USB FS needs */
&clk_hsi48 {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&timers2 {
    status = "okay";

    pwm2: pwm {
        status = "okay";
        pinctrl-0 = <&tim2_ch1_pa15>;
        pinctrl-names = "default";
    };
};