/ {
    aliases {
        accel0 = &lis2dh12;
    };

    chosen {
        zephyr,console = &cdc_acm_uart0;
        /* Optional: also route the shell to USB if desired */
        zephyr,shell-uart = &cdc_acm_uart0;
    };
    
};

&pinctrl {
    i2c1_pins: i2c1_pins {
        pinmux = <STM32_PINMUX('C', 0, AF4)>;
        pinmux = <STM32_PINMUX('C', 1, AF4)>;
    };
};


&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    pinctrl-0 = <&i2c1_pins>;
    pinctrl-names = "default";

    lis2dh12: lis2dh12@19 {
        compatible = "st,lis2dh";
        reg = <0x19>;
        status = "okay";
        irq-gpios = <&gpioc 2 GPIO_ACTIVE_HIGH>;
    };
};

/* Enable the USB controller on the STM32L412 */
&usb {
    status = "okay";
    pinctrl-0 = < &usb_dm_pa11 &usb_dp_pa12 >;
    pinctrl-names = "default";

    /* Declare a USB CDC ACM node for logs/console */
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
        /* Some boards require "status = okay;" but typically it's implied */
    };
};

/* Enable the HSI48 clock that USB FS needs */
&clk_hsi48 {
    status = "okay";
};

&gpiob {
    status = "okay";
};